<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>quantum-forge</string>
    <key>CFBundleIdentifier</key>
    <string>com.quantumrealmgames.quantum-forge-plugin</string>
    <key>CFBundleName</key>
    <string>Quantum Forge</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1.0.0</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2025, Quantum Realm Games. All rights reserved.</string>
    <key>CFBundleSignature</key>
    <string>????</string>
</dict>
</plist>
